table {
    border-collapse: collapse;
    width: 400px;
}
thead{
    background: gray;
    color:aliceblue;
}
td ,th {
    border: 1px solid black;
    padding: 10px;
}
caption {
    font:bold 1em sans-serif ;
    background: rgb(224, 224, 4);
    padding: 10px;
    border: 1px solid black;
}
